<h1>Your Shopping Cart</h1>
<table class="table">
  <thead>
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Total</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% if @cart_items.any? %>
      <% @cart_items.each do |item| %>
        <tr>
          <td><%= item[:product].name %></td>
          <td>
             <%= form_with url: update_cart_path(item[:product].id), method: :patch, local: true do |f| %>
              <%= f.hidden_field :id, value: item[:product].id %>
              <%= f.number_field :quantity, value: item[:quantity], min: 1, class: 'form-control' %>
              <%= f.submit "Update", class: 'btn btn-secondary btn-sm' %>
            <% end %>
          </td>
          <td><%= number_to_currency(item[:product].price) %></td>
          <td><%= number_to_currency(item[:product].price * item[:quantity]) %></td>
          <td>
            <%= button_to "Remove", remove_from_cart_path(item[:product].id), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger btn-sm' %>

          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="5" class="text-center">Your cart is empty.</td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="d-flex justify-content-between">
  <%= link_to 'Continue Shopping', root_path, class: 'btn btn-primary' %>
  <%= link_to 'Checkout', new_order_path, class: 'btn btn-success' %>
</div>
