<h1>Checkout</h1>

<%= form_with model: @order, local: true do |form| %>
  <div>
    <%= form.label :total_amount %>
    <%= form.number_field :total_amount, value: session[:cart].sum { |id, quantity| Product.find(id).price * quantity }, readonly: true %>
  </div>
  <div>
    <%= form.label :status %>
    <%= form.select :status, ['Pending', 'Completed'], selected: 'Pending' %>
  </div>
  <%= form.submit 'Place Order', class: 'btn btn-primary' %>
<% end %>