<!-- app/views/orders/show.html.erb -->
<h1>Order Details</h1>

<p><strong>Order ID:</strong> <%= @order.id %></p>
<p><strong>Status:</strong> <%= @order.status.humanize %></p>
<% if session[:recipient_name] %>
<h2>Recipient Details</h2>
<ul>
  <li><strong>Recipient Name:</strong> <%= session[:recipient_name] %></li>
  <li><strong>Recipient Address:</strong> <%= session[:recipient_address] %></li>
</ul>
<% end %>
<h2>Order Items</h2>
<ul>
  <% @order.order_items.each do |item| %>
    <li>
      <%= item.product.name %> - Quantity: <%= item.quantity %> - Price: <%= number_to_currency(item.price) %>
    </li>
  <% end %>
</ul>

<h2>Taxes</h2>
<p><strong>GST:</strong> <%= number_to_currency(@order.total_amount * @order.gst_rate / 100.0) %></p>
<p><strong>PST:</strong> <%= number_to_currency(@order.total_amount * @order.pst_rate / 100.0) %></p>
<p><strong>QST:</strong> <%= number_to_currency(@order.total_amount * @order.qst_rate / 100.0) %></p>

<p><strong>Grand Total:</strong> <%= number_to_currency(@order.total_amount) %></p>

<% if @order.new_order? %>
  <h3>Payment Options</h3>
  <p>This order is pending payment. Please choose one of the following payment options:</p>
  <%= link_to 'Proceed to Payment', new_order_payment_path(@order, use_stripe: true), class: 'button' %>
<% end %>
